@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
* {
    box-sizing: border-box;
    /* TODO LO QUE SE AGREGA NO SUMA EN EL ANCHO */
}

html {
    /* desplaza la pagina de forma suave */
    scroll-behavior: smooth;
}

body {
    margin-top: 0px;
    /* designar una fuente general para todo el 
    documento */
    font-family: 'Playfair Display', serif;
    text-align: justify;
}

header {
    /* usar rgb no los colores predeterminados de css
    que los termina eligiendo el navegador y terminan 
    poniendo otro color distinto al que se eligió */
    background-color: rgb(123, 248, 206);
    height: 100px;
    padding-top: 10px;
    /* permite mantener fijo el menu con fixed */
    position: fixed;
    width: 100%;

}

/* todo lo que esta dentro de header o sea los 
hijos, (header *) ocupen lo menos posible
herencia: todos (*) heredan el padre (header) */
header * {
    display: inline;
    /* corta el color de fondo por 
    ocupar lo minimo */
    /* background-color: gray; */
}

li {
    margin: 10px;
    /* margen interno del objeto al contenedor */
    padding: 10px;
    /*forma de boton  bordes redondeados*/
    border-radius: 40px;
    /* background-color: rgb(252, 252, 252); */
}

a {
    /* sacar el subrayado del link y el color de link */
    text-decoration: none;
    color:rgb(0, 0, 0);
    /* color: black; */
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

/* cuando posiciono el mouse sobre el boton del menu */
a:hover {
    /* color de fondo */
    background-color: rgb(35, 177, 130);
    border-radius: 20px;
    /* bordes internos del boton arriba y abajo con 5  y der e izq con 10 */
    padding: 5px 10px; 
    margin: -10px;

    /* hacer una transicion para que aparezca el boton */
    transition: 0.3s;

}

.logo {
    margin: 20px;
    /* font-size: tamaño px;
    font-weight: grosor de normal a negrita;
    font-style: italica, normal, oblicua, etc; */
    font-family: 'Italianno', cursive;
    font-size: 80px;
    /* font-weight: bold; */

}

main {
/* cubre todo el area designada a 
    sectionOne */
    display:grid;   
}


#sectionHome {
    background-color: rgb(27, 95, 184);

    /* imagen de fondo */
    background-image: url(./assets/img/Untitled.png);
    /* background-size: auto; */
    /* scroll-behavior: auto; */
    /* background-blend-mode: color-burn; */
    /* repetir o no la imagen  */
    /* background-repeat: no-repeat; */
    background-position: center;
    /* contain es para ajustar la imagen de manera que 
    se vea completa , cover es para ajustarla al ancho
    manteniendo proporcion*/

    background-size: cover;
    color: rgb(255, 255, 255);
    /* con sticky + position fixed se situa el objeto por encima de todo
    mientras que con z-index se puede acomodar que ira adelante
    y que atras mas valor adelante, menos atras (siempre en comparacion de otro) */
    /* z-index: ; */
    /* position: sticky; */

/* bajar todas las seccines para dar lugar al menu
    de arriba y dejarlo fijo con una altura de 140px */
    margin-top: 140px;

}

#sectionAbout {
    background-color: rgb(16, 65, 172);

}

#sectionBlog {
    background-color: rgb(14, 48, 117);    
}

#sectionNews {
    background-color: rgb(8, 27, 68);    
}

#sectionContact {
    background-color: rgb(4, 13, 31);        
}

section {
    color: rgb(247, 223, 179);
    
}

section h2 {
    /* designar una fuente en particular  en
    h2 hija de section*/
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

/* toda la fuente para todo (*, body, o alguna
etiqueta padre, las funestes especificadas
en las etiquetas designadas) */

p {
    /* text-align: left; */
    /* text-indent: 15px; */
    /* ancho del 98% del tamaño de la pantalla (widescreen) */
    width: 98%;
    /* margen de 0 arr y aba; con un margen izq y der automático
    o sea que el auto me dice que va a calcular solo los margenes 
    izq y der, CENTRAR EL OBJETO PEGADO AL MARGIN-TOP DEL CONTENEDOR */
    margin: 0 auto;
}

/* letra capital */
/* p::first-letter #capital  */

/* p::first-letter, #capital { */
#capital::first-letter {
    /* em tamaño de la altura en renglones */
    font-size: 3em;

    /* Unitless values: usa esta cifra multiplicada por el tamaño de 
    fuente del elemento */
    line-height: 1.31em;

    /* margen izquierdo de la primera letra */
    /* margin: 5px; */
    text-align: left;
    float:left;
    padding-right: 2px;
    margin-right: 5px;
}

/* Keyword value */
/* line-height: normal; */


/* line-height: 3.5; */

/* <longitud> valores */
/* line-height: 3em; */

/* <porcentaje> valores */
/* line-height: 34%; */

/* Valores absolutos */
/* line-height: inherit;
line-height: initial;
line-height: unset; */

/* todos los menues */
.menues {
    /* menu padre posicion relativa */
    /* position: relative; */
    /* display: none; */
} 

/* sub menú en Home */
.subMenuHome {
      /* para que desaparezca el submenu */
      /* display: none; */
    /* .subMenuAbout { */
    /* para sacarlo de la linea por el display: inline 
    (quedan en linea pero en otra linea) */
    
    /* menu hijo posicion absoluta */
    position: absolute;
    /* para ponerlo en otra linea */
    display: flex;
    /* para ponerlo uno debajo de otro se usa la opcion column (columna)
    row (fila) */
    flex-direction: row;
    background-color:rgba(35, 177, 130), 0.7;
    
    /* rgba(82, 27, 57, 0.7); */
    margin-left: 220px;
    /* margin-top: -30px; */
    /* padding: 5px 10px; */
    /* border-radius: 40px; */

  
}

menues:active {
    display: none;
}

/* para que aparezca el submenu de home 
en el hover de menues (padre) aplico los cambios en subMenuHome*/
/* .menues:hover .subMenuHome {  */
/* .subMenuAbout { */


    /* display: none; */
    /* para ponerlo en otra linea */
    /* display: flex; */
    /* para ponerlo uno debajo de otro se usa la opcion column (columna)
    row (fila) */
    /* flex-direction: row; */
    /* background-color:rgba(35, 177, 130), 0.7; */
    
    /* rgba(82, 27, 57, 0.7); */
    /* margin-left: 220px; */
    /* margin-top: -30px; */
    /* padding: 5px 10px; */
    /* border-radius: 40px; */
}

/* .menues:hover .subMenuAbout {} */


/* .subMenuHome::before {
    display: none;
} */

/* 
.subMenuHome:hover {
    display: flex;
    flex-direction: column;
    background-color:rgba(35, 177, 130), 0.7;
} */